<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Handicraft Retail Company</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1 style="text-align: center;"> <u> Handicraft Retail Company </u></h1>
		<hr>
		<h2>Create Profile</h2>

		<form action="#" th:action="@{/createProfile}" th:object="${profile}" method="POST">

			<input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4">

			<input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4">	

			<input type="email" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

			<input type="text" th:field="*{address}" placeholder="Address" class="form-control mb-4 col-4">

			<input type="number" th:field="*{teleNo}" placeholder="Tele Number" class="form-control mb-4 col-4">

			<input type="text" th:field="*{salutation}" placeholder="Saluatation" class="form-control mb-4 col-4">

			<input type="text" th:field="*{userName}" placeholder="Username" class="form-control mb-4 col-4">

			<input type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-warning col-2" onclick="window.location.href='viewProfile.html'"> Create</button>

		</form>
		<hr>
		<a th:href="@{/}"> Back to Home</a>
	</div>
</body>

</html>